@import url('https://fonts.googleapis.com/css?family=Calistoga|Courgette|Pacifico&display=swap');

p,h1,h2,h3,h4,h5,h6,li{
  font-family: "Helvetica Neue";
}

body{
  background-color: #111;
}

.navbar-brand img{
  height:5rem;
  border-top-left-radius:20px;
  border-top-right-radius:5px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;

}
.main-topic h3{
  font-family: "Helvetica Neue";
  color: red;
  font-size: 30px;
  letter-spacing: 3px;
}
.navbar{

  background-color: rgba(0,0,0,0.9);
}
.navbar .nav-item a {
  font-weight: bold;
		font-size: 25px;
    color:#fff;

}
.navbar .nav-item a:before {
  content: '|';
  font-style: normal;
  color:red;
  padding-right: 5px;
}
.navbar .nav-item a:hover {
		font-size: 25px;
    font-weight: bold;
    color: red;
    transition: 0.9s;
}

.navbar button{
  background-color: black;
  margin-right: 10%;
  padding: 0;
  border: 1px solid red;
}
.navbar-toggler-icon{
  padding: 10px;
  width: 40px;
  height: 40px;
  color: white;
}
.navbar button:hover{
  background-color: black;
  margin-right: 10%;
  padding: 0;
  border: 1px solid red;
}



.footer-top p{
  color: #999;
  background-image: url();
}
.footer-top h2{
  color: #fff;
  font-size: 18px;
}
.footer-top h3{
  color: #fff;
}
.footer-top{
  background: #111;
  padding: 80px 0;
}
.segment-one h3{
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px;
}
.segment-two h2{
  font-family: "Helvetica Neue";
  color: #fff;
  text-transform: uppercase;
}
.segment-two h2:before{
  content: '|';
  color:red;
  padding-right: 10px;
}
.segment-two ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li{
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  line-height: 40px;
}
.segment-two ul li a{
  color: #999;
  text-decoration: none;
}
.segment-two ul li a:hover{
  color: red;
  transition: 0.3s;
}
.segment-three h2{
  font-family: "Helvetica Neue";
  color: #fff;
  text-transform: uppercase;
}
.segment-three h2:before{
  content: '|';
  color:red;
  padding-right: 10px;
}
.segment-three a{
  background: red;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius:50%;
}
.segment-three a:hover{
  transition: 0.3s;
  background: red;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius:50%;
  margin-left: 10px;
}

.segment-three a i{
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
}
.segment-four h2{
  font-family: "Helvetica Neue";
  color: #fff;
  text-transform: uppercase;
}
.segment-four h2:before{
  content: '|';
  color:red;
  padding-right: 10px;
}
.segment-four form input[type=email]{
  border: none;
  border-radius: 5px;
  width: 10rem;
}
.segment-four form input[type=submit]{
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  text-transform: uppercase;
}

.segment-four form input[type=submit]:hover{
  margin-left: 2px;

}

.footer-bottom-text{
  background: #000;
}

.footer-bottom-text img{
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.call-button a{
  padding: 10px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration:none;
}
.call-button a:hover{
  transition: 0.3s;
  padding-left: 15px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration:none;
  font-size: 20px;
}

.location-box{
  padding: 0px;
  margin: 0px;
  height: 50%;
  width: 100%;
}



/*float button*/
*{padding:0;margin:0;}

.label-container{
	position:fixed;
	bottom:20px;
	right:80px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:red;
	display:table-cell;
	vertical-align:super;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:text-bottom;
	color:red;
	opacity:0.9;
}

.float{
  font-size:20px;
	position:fixed;
  padding: 10px 10px;
	width:50px;
	height:50px;
	bottom:10px;
	right:10px;
	background-color: rgba(0,255,0,0.9);
	color:white;
	border-radius:50px;;
	text-align:center;
}



a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.9s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.bottom-call a:hover{
  color: red;
  transition: 0.5s ease;

  font-size:30px;
	position:fixed;
  padding: 12px 12px;
	width:70px;
	height:70px;
	bottom:10px;
	right:10px;
}

/*float button*/



@media only screen and (min-width: 768px) and (max-width: 991px) {
  .md-mb-30{
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .sm-mb-30{
    margin-bottom: 30px;
  }
  .footer-top{
    padding: 50px 0;
  }
  .float{
    font-size:30px;
  	position:fixed;
    padding: 10px 10px;
  	width:70px;
  	height:70px;
  	bottom:40px;
  	right:70px;
  	background-color: rgba(0,255,0,0.9);
  	color:white;
  	border-radius:50px;;
  	text-align:center;
  }

  .bottom-call a:hover{
    font-size:20px;
  	position:fixed;
    padding: 10px 10px;
  	width:50px;
  	height:50px;
  	bottom:10px;
  	right:50px;
  	background-color: rgba(0,255,0,0.9);
  	color:white;
  	border-radius:50px;;
  	text-align:center;
  }

  .location-box{
    padding: 0px;
    margin: 0px;
    height: 90%;
    width: 100%;
    padding-bottom: 100px;
  }

}
