@import url('https://fonts.googleapis.com/css?family=Calistoga|Courgette|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

p,h1,h2,h3,h4,h5,h6,li,a{
  font-family: 'Didact Gothic', sans-serif;
}



.main-body{
  margin-top:6rem;
  padding: 0;
}

.main-display{
  padding: 0;
  width: auto;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-col-pan{
  margin: 50px;
  width: auto;
  height: 300px;
  color: white;
  text-align: center;
  background-color: rgba(17,17,17,0.8);
  overflow: hidden;
  border-radius: 10px;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  padding: 20px;
}

.left-col-pan h2{

}

.right-col-pan{
  margin: 50px;
  width: auto;
  height: auto;
  min-height: 300px;
  font-size: 17px;
  color: white;
  text-align: center;
  background-color: rgba(17,17,17,0.8);
  overflow: hidden;
  border-radius: 10px;
  border-top: 2px solid red;
  border-left: 2px solid red;
  padding: 20px;
}

.footer-top{
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .right-col-pan{
    margin-top: 10px;
  }
  .left-col-pan{
    margin-top: 15px;
    margin-bottom: 15px;
  }

}
