.main-body{
  margin-top:6rem;
  padding: 0;
}

.main-display{
  width: auto;
  height: auto;
}

.img_card img{
  background-color: red;
  height: 250px;
  width: 250px;
  margin: 10px;
}

.img_card img:hover{
  background-color: red;
  height: 300px;
  width: 300px;
}




.footer-top{
  margin-top: 30px;
}
